@{
  Layout = "_Layout";
}

@using AnimalShelter.Models;
@model List<AnimalShelter.Models.Type>;

<h1>Type</h1>

@if (@Model.Count == 0)
{
  <h3>No Animals are in the shelter!</h3>
} 

@foreach (Type type in Model)
{
  <li> @Html.ActionLink($"{type.Name}", "Name", @Html.ActionLink($"{type.Gender}"), "Gender",@Html.ActionLink($"{type.Breed}"), "Breed", @Html.ActionLink($"{type.Date}"), "Date Of Arrival",  new { id = type.TypeId })</li>
}

<p>@Html.ActionLink("Add new type", "Create")</p>